<div class="container">
    <h1>Insercion</h1>
  <div class="row">
    <div class="col-md-4 text-center" style="width: 500px; height: 500px;">
      <h1>Mejor Caso</h1>
      <canvas id="bestI">{{ chartRealtime }}</canvas>
    </div>
    <div class="col-md-4 text-center">
      <h1>Caso Promedio</h1>
      <canvas id="promediateI">{{ chartRealtime }}</canvas>
    </div>
    <div class="col-md-4 text-center" style="width: 500px; height: 500px;">
      <h1>Peor Caso</h1>
      <canvas id="worstI">{{ chartRealtime }}</canvas>
    </div>
  </div>
</div>
